@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark .dim-image {
  filter: brightness(0.9);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  /* width: 0; */
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #451d1d;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
